<h1>BACON</h1>

<form action="/generator" method="post">
<td>
  <input type='text' name = "first_name"><input type='text' name = "last_name">
</td>
<td>
  <input type='submit' value="Find Bacon Number">
</td>
</form><br><br>

<% if @game_run == true %>
  <p> Game Run <p>

    <%= @path %>
<% end %>
