<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <main>

      <nav>
        <ul>
          <li>
            <a href="/actors">Actors</a><br>
          </li>
          <li>
            <a href="/films">Films</a><br>
          </li>        
        </ul>
      </nav>

      <section>
        <%= yield %>
      </section>
    </main>
  </body>

</html>
