<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" type="text/css" href="navigation.css">
    <link rel = "stylesheet" type="text/css" href="buttons.css">
    <link rel = "stylesheet" type="text/css" href="links.css">
  </head>

  <body>
    <main>
      <nav>
        <div class="nav_container">
          <a class="a_box" href="/"><div class="nav_box">Home Page</div></a>
          <a class="a_box" href="/actors"><div class="nav_box">Actors</div></a>
          <a class="a_box" href="/films"><div class="nav_box">Films</div></a>
        </div>
      </nav>
      <section>
        <%= yield %>
      </section>
    </main>
  </body>

</html>
