.nav_container{
  background-color: orange;
  display: grid;
  padding:0.5em;
  grid-template-columns: auto auto auto;
}

.nav_box{
  background-color: green;
  color: white;
  height: 3em;
  line-height: 3em;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
}
.nav_box:hover{
  background-color: lime;
}

body {
  background-color: #112F41;
  color: #ED553B;
}

.base_image {
  background-image: url('./kevin_bacon.jpeg')
}

.a_box {
text-decoration: none;

}

.bacon_container {
  position: relative;
  text-align: center;

  font-size: 3em;
}

.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
