.nav_container{
  background-color: #B64926;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  width: 100%
  top: 0;
  height: 100px;
}

.nav_box{
  background-color: #B64926;
  color: white;
  height: 100px;
  line-height: 100px;
  font-size: 3em;
  font-family: georgia;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.nav_box:hover{
  background-color: #FFB03B;
}

body {
  padding: 0;
  margin: 0;
  background-color: #468966;
  color: #FFF0A5;
}

h1 {

  font-size: 4em;

}

p {

  font-family: georgia;

}

.base_image {
  background-image: url('./kevin_bacon.jpeg')
}

.a_box {
text-decoration: none;

}

.bacon_container {
  position: relative;
  text-align: center;

  font-size: 3em;
}

.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}

.game_box_actor {

  display: inline;
  font-size: 1.5em;
  color: white;

}

.game_box_film {

  display: inline;
  font-size: 1.5em;
  color: cyan;

}

.main_page {
  margin: auto;
  text-align: left;
  width: 50%;
}
