<h1>Actors</h1>

<table>
  <% @actors.each do |actor| %>
  <tr>
    <td>
      <a href="/actors/<%= actor.id %>"><%= actor.full_name %></a><br>
    </td>
    <td>
      <form action="/actors/<%= actor.id %>/delete" method="post"><input class="hhuh" type='submit' value="Delete"></form>
    </td>
  </tr>
  <% end %>
  <tr>
    <form action="/actors/create" method="post">
    <td>
      <input type='text' name = "first_name"><input type='text' name = "last_name">
    </td>
    <td>
      <input type='submit' value="Add Actor">
    </td>
    </form>
  </tr>
</table>
