<h1>Films</h1>



<table>
<% @films.each do |film| %>
<tr>
  <td>
    <a href="/films/<%= film.id %>"><%= film.title %></a><br>
  </td>
  <td>
    <form action="/films/<%= film.id %>/delete" method="post"><input class="hhuh" type='submit' value="Delete"></form>
  </td>
</tr>
<% end %>

<tr>
  <form action="/films/create" method="post">
  <td>
    <input type='text' name = "title">
  </td>
  <td>
    <input type='submit' value="Add Film">
  </td>
  </form>
</tr>
</table>
